<ion-toolbar class="ion-text-center" color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title [hidden]="mostrar1">{{ data1.cod_obra }}</ion-title>
    <ion-title [hidden]="mostrar2">{{ data2.cod_inversion }}</ion-title>
</ion-toolbar>

<ion-content>
      <div>
        <ion-card [hidden]="mostrar1">
          <ion-item>
            <ion-icon name="information-circle" slot="start"></ion-icon>
            <ion-label class="ion-text-left"><i>Datos</i></ion-label>
          </ion-item>
          <ion-card-content >


                  <ion-label slot="start">Provincia:</ion-label><ion-label style="padding-left: 17%"  slot="end">{{ data1.cod_provincia }}</ion-label><br>


                  <ion-label slot="start">Distrito:</ion-label><ion-label style="padding-left: 10%"  slot="end">{{ data1.cod_distrito }}</ion-label><br>

                  <ion-label slot="start">Lugar intervención:</ion-label><ion-label style="padding-left: 10%" slot="end">{{ data1.nomb_lugar_intervenc }}</ion-label>




          </ion-card-content>
        </ion-card>
        <ion-card [hidden]="mostrar2">
          <ion-item>
            <ion-icon name="information-circle" slot="start"></ion-icon>
            <ion-label class="ion-text-left"><i>Datos</i></ion-label>
          </ion-item>
          <ion-card-content >


                  <ion-label slot="start">Departamento:</ion-label><ion-label style="padding-left: 17%"  slot="end">{{ data2.nomb_departamento }}</ion-label><br>


                  <!--<ion-label slot="start">Lugar Intervención:</ion-label><ion-label style="padding-left: 10%"  slot="end">{{ data.nomb_lugar_intervenc }}</ion-label><br>-->

                  <ion-label slot="start">Nombre Proyecto:</ion-label><br><ion-label slot="end">{{ data2.nombre_proyecto }}</ion-label>




          </ion-card-content>
        </ion-card>
      </div>

    <!--<div >
        <ion-card>
          <ion-item>
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label>Coordenadas:</ion-label>
          </ion-item>
          <ion-card-content >
            <ion-grid>
              <ion-row class="ion-text-center">
                <ion-col size="6">
                  <ion-label>Coordenadas X:</ion-label>
                  <ion-input type="text" >
                      -12.434534543
                  </ion-input>
                </ion-col>
                <ion-col  size="6">
                  <ion-label>Coordenadas Y:</ion-label>
                  <ion-input type="text">
                      45.42423232
                  </ion-input>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>-->

      <!--<div>
        <ion-card>
          <ion-item>
            <ion-icon name="map" slot="start"></ion-icon>
            <ion-label>Ubicación:</ion-label>
            <ion-button fill="outline" slot="end" (click)="seleccionar()">Seleccionar</ion-button>
          </ion-item>
          <ion-card-content class="ion-text-center">
            <ion-grid>
              <ion-row >
                <ion-col  size="4">
                  <ion-label>Departamento:</ion-label>
                  <ion-input type="text" >
                      Loreto
                  </ion-input>
                </ion-col>
                <ion-col  size="4">
                  <ion-label>Provincia:</ion-label>
                  <ion-input type="text">
                      Chachapoyas
                  </ion-input>
                </ion-col>
                <ion-col  size="4">
                  <ion-label>Distrito:</ion-label>
                  <ion-input type="text">
                      Granada
                  </ion-input>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>-->
      <div>
        <ion-card>
          <ion-item>
            <ion-icon name="images" slot="start"></ion-icon>
            <ion-label>Fotos:</ion-label>
            <ion-button fill="outline" slot="end" (click)="capturar()">Capturar</ion-button>
          </ion-item>
          <ion-card-content >
            <ion-label slot="start">Cantidad de fotos:</ion-label><ion-label class="cantidades"  slot="end">{{ count_fotos }}</ion-label>
          </ion-card-content>
        </ion-card>
      </div>
      <div>
        <!--<ion-button slot="end" color="secondary" >
             <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
        </ion-button>-->
        <ion-button expand="block" color="primary" (click)="saveData()">Guardar</ion-button>
      </div>
      <!--<div>
        <ion-card>
          <ion-item>
            <ion-icon name="ios-eye" slot="start"></ion-icon>
            <ion-label>Observaciones:</ion-label>
          </ion-item>
          <ion-card-content >
            <ion-label slot="start">Cantidad de observaciones: </ion-label><ion-label class="style: " lot="end">{{ count_observaciones }}</ion-label>
          </ion-card-content>
        </ion-card>
      </div>-->



      <!--<ion-fab vertical="bottom" horizontal="start" edge slot="fixed" bottom left>
       <ion-fab-button color="secondary">
         <ion-icon name="ios-pin" ></ion-icon>
       </ion-fab-button>

     </ion-fab>-->
     <!--<ion-fab vertical="bottom" horizontal="center" edge slot="fixed" bottom left>
      <ion-fab-button color="secondary" (click)="observaciones()">
        <ion-icon name="ios-eye"></ion-icon>
      </ion-fab-button>
    </ion-fab>-->
     <!--<ion-fab vertical="bottom" horizontal="end" edge slot="fixed" bottom right>
      <ion-fab-button color="secondary">
        <ion-icon name="images" (click)="capturar()"></ion-icon>
      </ion-fab-button>
    </ion-fab>-->


</ion-content>
