img {
  border: 0px solid #ddd;
  border-radius: 1rem;
  padding: 5px;
  max-width: 100%;
  height: 200px;
}



.img-card{
    width: 100%;
    height: 200px;
}
.padre {
  background: #EBEDEF;
  height: 100%;
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.hijo {
  background: #EBEDEF;
  width: 120px;
  a {
    font-size: 14px;
    --color: var(--ion-color-step-550,#737373);
  }

}
