<ion-header>
    <ion-toolbar class="ion-text-center" color="secondary">
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title >Colección</ion-title>
      <ion-button [hidden]="ocultar0" slot="end" color="secondary" (click)="goToPreviousPage(dataService.colecciones)" >
          <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
      </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div [hidden]="ocultar0">
    <ion-card *ngFor="let coleccion of dataService.colecciones">

          <!--<img src="assets/img/nature.png">-->

          <img src="{{ coleccion.img }}">

        <ion-card-header>
          <ion-card-title name="title">
            {{ coleccion.ctitulo }}
          </ion-card-title>
          <ion-card-subtitle name="description">
            {{ coleccion.cobservacion }}
          </ion-card-subtitle>
        </ion-card-header>
        <ion-button (click)="deleteItem(coleccion)" color="danger" lines="white" fill="clear">
          <ion-icon name='trash'></ion-icon>
        </ion-button>
    </ion-card>

  </div>

  <div class="padre" [hidden]="ocultar1">
    <div class="hijo"><ion-icon ios="ios-alert" md="md-alert"></ion-icon>
    <a>Agregue una coleccion de fotos... luego solo seleccione dos fotos de su preferencia...</a></div>
  </div>


      <ion-fab vertical="bottom" horizontal="end"  slot="fixed" bottom right>
        <ion-fab-button (click)="coleccion()" color="secondary">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
