<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="cloud-download"></ion-icon>
      Seleccionar Mapa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row *ngFor="let file of files">
    <ion-col size="12" (click)="setMapa(file)">
      <ion-icon name="document" style="zoom:2.0;"></ion-icon>
      {{file.name.split('(')[0]}}
    </ion-col>
    <hr>
  </ion-row>
</ion-content>
