<ion-menu contentId="content">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Sierra Azul</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="background" *ngFor="let page of pages">
      <ion-menu-toggle *ngIf="page.url">
        <ion-item [routerLink]="page.url" routerDirection="root" routerLinkActive="active">
          <ion-icon [name]="page.icon" slot="start"></ion-icon>
          <ion-label>
            {{ page.title }}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-item button *ngIf="page.children?.length > 0" (click)="page.open = !page.open" [class.active-parent]="page.open" detail="false">
        <ion-icon slot="start" name="arrow-forward" *ngIf="!page.open"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="page.open"></ion-icon>
        <ion-label>{{ page.title }}</ion-label>
      </ion-item>
      <ion-list *ngIf="page.open">
        <ion-menu-toggle >
          <ion-item class="sub-item" *ngFor="let sub of page.children" [routerLink]="sub.url" routerDirection="root" routerLinkActive="active">
            <ion-icon [name]="sub.icon" slot="start"></ion-icon>
            <ion-label>
              {{ sub.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </div>
    <ion-menu-toggle (click)="exit()">
        <ion-item>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>
              Salir
            </ion-label>
          </ion-item>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>

<ion-router-outlet id="content" main></ion-router-outlet>
