.active{
  --ion-text-color: var(--ion-color-secondary);
  ion-icon {
    --ion-text-color-rgb: var(--ion-color-secondary);
  }
}
.active-parent {
  font-weight: 500;
}
.sub-item {
  padding-left: 20px;
  font-size: small;
}

.background{
  background-color:red;
}

ion-menu{
  background-color: rgb(255,255,255, 0);
}