<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="cloud-download"></ion-icon>
      Cargar Información
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding center text-center class="ion-justify-content-center fondo">
    <br> <br> <br> <br> <br> <br>
    <ion-grid (click)='cargar()' text-center class="background">
        <div class="card-title"><ion-icon name="locate" style="zoom:2.0;"></ion-icon></div>  
        <div class="card-subtitle">Cargar Colección de Acciones</div>
    </ion-grid>
    <br>
    <ion-grid (click)='cargarPuntos()' text-center class="background2">
        <div class="card-title"><ion-icon name="locate" style="zoom:2.0;"></ion-icon></div>  
        <div class="card-subtitle">Cargar Otras Colecciones</div>
    </ion-grid>
    <br>
</ion-content>
