ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

span{
  font-size: 14px;
  --color: var(--ion-color-step-550,#737373);
}

.background{
  background-color:#0abde3;
  background-size: cover;
  border: 1px solid #fff;
  height: 30%;
  width: 70%;
  padding: auto;
  border-radius: 10px;
}

.background2{
  background-color:#1dd1a1;
  background-size: cover;
  border: 1px solid #fff;
  height: 30%;
  width: 70%;
  padding: auto;
  border-radius: 10px;
}

ion-content.fondo{
  --background: rgb(2,0,36);
  --background: #c8d6e5;
  margin:auto;
  ion-grid {
    position: relative;
    text-align: center;
    align-items: center;
  }

  .card-title {
    position: absolute;
    top: 20%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
  
  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 60%;
    width: 100%;
    color: #fff;
  } 
}
