<ion-header>
  <ion-toolbar class="ion-text-center" color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nuevo punto:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <form [formGroup]="form"> -->

  <div>
    <ion-card>
      <ion-item>
        <ion-icon name="images" slot="start"></ion-icon>
        <ion-label>Fotos:</ion-label>
        <ion-button fill="outline" slot="end" (click)="takingPhotos()"
          >Capturar</ion-button
        >
      </ion-item>
      <ion-card-content>
        <ion-label slot="start">Cantidad de fotos:</ion-label
        ><ion-label class="cantidades" slot="end">{{ count_fotos }}</ion-label>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-card>
    <div>
      <ion-item>
        <ion-label>Infraestructura:</ion-label>
        <ion-select
          [(ngModel)]="data.infraestructura"
          placeholder="Seleccione uno"
          (ionChange)="onChangeInfraestructura()"
        >
          <ion-select-option
            [value]="infraestructura.id"
            *ngFor="let infraestructura of infraestructuras"
            >{{ infraestructura.name }}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-item [hidden]="!siembrahabilitar">
        <ion-label>Siembra: </ion-label>
        <ion-select
          [(ngModel)]="data.subtipo"
          placeholder="Seleccione uno"
          (ionChange)="onChangeSiembra()"
        >
          <ion-select-option
            [value]="siembra.id"
            *ngFor="let siembra of siembras"
            >{{ siembra.name }}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-item [hidden]="!cosechahabilitar">
        <ion-label>Cosecha: </ion-label>
        <ion-select
          [(ngModel)]="data.subtipo"
          placeholder="Seleccione uno"
          (ionChange)="onChangeCosecha()"
        >
          <ion-select-option
            [value]="cosecha.id"
            *ngFor="let cosecha of cosechas"
            >{{ cosecha.name }}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item [hidden]="!habilitarotros">
        <ion-label position="floating">Agregue aqui...</ion-label>
        <ion-input [(ngModel)]="tempotros"></ion-input>
      </ion-item>

      <ion-item [hidden]="!otroshabilitar">
        <ion-label position="floating"
          >Agregue aqui la infraestructura...</ion-label
        >
        <ion-input
          [value]="addInfraestructura"
          [(ngModel)]="tempinfraestructura"
        ></ion-input>
      </ion-item>

      <br />
      <ion-item [hidden]="!otroshabilitar">
        <ion-label position="floating">Agregue aqui el detalle...</ion-label>
        <ion-input [value]="addDetalle" [(ngModel)]="tempotros"></ion-input>
      </ion-item>

      <!-- <ion-button color="secondary" expand="full" (click)="salida(); closeModal()">Agregar Punto</ion-button> -->
    </div>
  </ion-card>

  <!-- </form> -->

  <div>
    <ion-button
      *ngIf="data.tipo !== '' && data.subtipo !== ''"
      color="secondary"
      expand="full"
      (click)="saveNuevo()"
      >Guardar</ion-button
    >
    <ion-button
      [hidden]="!otroshabilitar"
      color="secondary"
      expand="full"
      (click)="saveNuevo()"
      >Guardar</ion-button
    >
  </div>
</ion-content>
