<!-- <ion-content>
  <ion-slides pager="false" autoplay="200" loop="true" speed="1500" effect="fade">
    <ion-slide class="slide-background swiper-no-swiping" *ngFor="let background of backgrounds" [ngStyle]="{'background-image': 'url(' + background +')'}">
    </ion-slide>
  </ion-slides>
  <br>
  <div class="login-container">
      <div class="inputs">
        <img src="assets/icon/minagri.png" alt="">
      </div>
      <div class="inputs">
        <img src="assets/icon/favicon.png" alt="">
      </div>
      <div class="inputs">
        <ion-item text-center color="none" lines="none">
          <ion-label style="font-weight: bold;">
          COLECTOR MÓVIL
          </ion-label>
        </ion-item>
      </div>
      <form action="">
        <div class="inputs">
          <ion-item color="none" lines="white">
            <ion-label position="floating">
              <ion-icon name="contact"></ion-icon>
              Ingrese su Usuario
            </ion-label>
            <ion-input type="text" [(ngModel)]="user" name="usu_user"></ion-input>
          </ion-item>
        </div>
        <br>
        <div class="inputs">
          <ion-item color="none" lines="white">
            <ion-label position="floating">
              <ion-icon name="lock"></ion-icon>
              Ingrese su Contraseña
            </ion-label>
            <ion-input type="password" [(ngModel)]="password" name="usu_password"></ion-input>
          </ion-item>
        </div>
        <br>
        <div class="inputs">
          <ion-item  color="white" lines="white">
            <ion-label>Modo Sesión: </ion-label>
            <ion-label>{{networkStatus && networkStatus.connected ? "Online" : "Offline"}}</ion-label>
          </ion-item>
        </div>
        <br>
        <div class="inputs">
          <ion-button [color]="networkStatus && networkStatus.connected ? 'secondary' : 'danger'" expand="block" (click)="iniciar_session()" shape="round">Iniciar Sesión</ion-button>
        </div>
      </form>
  </div>
</ion-content> -->
<ion-content class="background">
  <br>
  <div class="inputs">
    <img src="assets/icon/minagri.png" alt="">
  </div>
  <div class="inputs">
      <img src="assets/icon/favicon.png" alt="">
    </div>
  <div class="inputs">
    <ion-item class="ion-text-center"color="none" lines="none">
      <ion-label style="font-weight: bold;">
        COLECTOR MÓVIL
      </ion-label>
    </ion-item>
  </div>
  <form>
      <div class="inputs">
          <ion-item color="none" lines="white">
            <ion-label position="floating">
              <ion-icon name="contact"></ion-icon>
              Ingrese su Usuario
            </ion-label>
            <ion-input type="text" [(ngModel)]="user" name="usu_user" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
        </div>
        <br>
        <div class="inputs">
          <ion-item color="none" lines="white">
            <ion-label position="floating">
            <ion-icon name="lock"></ion-icon>
            Ingrese su Contraseña
            </ion-label>
            <ion-input type="password" [(ngModel)]="password" name="usu_password" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
        </div>
        <br>
        <div class="inputs">
            <ion-item  color="white" lines="white">
                <ion-label>Modo Sesión: </ion-label>
                <!-- <ion-label>{{networkStatus && networkStatus.connected ? "Online" : "Offline"}}</ion-label> -->
                <ion-select value="on" [(ngModel)]="modo" [ngModelOptions]="{standalone: true}">
                  <ion-select-option value="on">Online</ion-select-option>
                  <ion-select-option value="off">Offline</ion-select-option>
                </ion-select>
            </ion-item>
        </div>

        <br>
        <div class="inputs">
          <!-- <ion-button [color]="networkStatus && networkStatus.connected ? 'secondary' : 'danger'" expand="block" (click)="iniciar_session()" shape="round">Iniciar Sesión</ion-button> -->
          <ion-button expand="block" shape="round" (click)="iniciar_session()">Iniciar Sesión</ion-button>
        </div>
  </form>
</ion-content>
