
.background{
  background-color:#0abde3;
  background-size: cover;
  border: 1px solid #fff;
  height: 30%;
  width: 70%;
  padding: auto;
  border-radius: 10px;
}

.background2{
  background-color:#1dd1a1;
  background-size: cover;
  border: 1px solid #fff;
  height: 30%;
  width: 70%;
  padding: auto;
  border-radius: 10px;
}

.background3{
  background-color:#feca57;
  background-size: cover;
  border: 1px solid #fff;
  height: 30%;
  width: 70%;
  padding: auto;
  border-radius: 10px;
}

ion-content.fondo{
  --background: rgb(2,0,36);
  --background: #c8d6e5;
  margin:auto;
  ion-grid {
    position: relative;
    text-align: center;
    align-items: center;
  }
  ion-col{
    height: 120px;
  }
}
