<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="cloud-download"></ion-icon>
      Descargar Información
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center class="fondo">
    <ion-row [hidden]='hidden' justify-content-center align-items-center>
        <img src="{{myimage}}" style="width: 70%"><br>
        <ion-button color='danger' (click)='cancelFileLoad()' [hidden]='hidden'>Cancelar</ion-button>
    </ion-row>
    <ion-grid>
      <ion-row>
        <ion-col style="height: auto;" text-left size="12">
          Mapas
        </ion-col>
        <ion-col (click)='openModal()' size="6" text-center class="background">
          <ion-icon color="light" name="map" style="zoom:2.0;"></ion-icon>
          <p style="color: #fff;">Descargar Mapa</p>
        </ion-col>
        <ion-col size="6"></ion-col>
        <ion-col style="height: auto; padding-top: 4%;" text-left size="12">
          Inversiones SA
        </ion-col>
        <ion-col (click)='loadProyectos()' size="6" text-center class="background2">
          <ion-icon color="light" name="navigate" style="zoom:2.0;"></ion-icon>
          <p style="color: #fff;">Descargar Inversiones</p>
        </ion-col>
        <ion-col (click)='loadAcciones()' size="6" text-center class="background3">
          <ion-icon color="light" name="navigate" style="zoom:2.0;"></ion-icon>
          <p style="color: #fff;">Descargar Acciones</p>
        </ion-col>
        <ion-col style="height: auto;padding-top: 4%;" text-left size="12">
          Limites
        </ion-col>
        <ion-col (click)='loadLimiteDepartamental()' size="6" text-center class="background">
          <ion-icon color="light" name="navigate" style="zoom:2.0;"></ion-icon>
          <p style="color: #fff;">Descargar Limites Depart.</p>
        </ion-col>
        <ion-col (click)='loadLimiteProvincial()' size="6" text-center class="background2">
          <ion-icon color="light" name="navigate" style="zoom:2.0;"></ion-icon>
          <p style="color: #fff;">Descargar Limites Provin.</p>
        </ion-col>
        <ion-col (click)='loadLimiteDistrital()' size="6" text-center class="background3">
          <ion-icon color="light" name="navigate" style="zoom:2.0;"></ion-icon>
          <p style="color: #fff;">Descargar Limites Distri.</p>
        </ion-col>
        <ion-col style="height: auto; padding-top: 4%;" text-left size="12">
          Redes Viales
        </ion-col>
        <ion-col (click)='loadRedVialNacional()' size="6" text-center class="background">
          <ion-icon color="light" name="navigate" style="zoom:2.0;"></ion-icon>
          <p style="color: #fff;">Descargar Red Vial Nacion.</p>
        </ion-col>
        <ion-col (click)='loadRedVialDepartamental()' size="6" text-center class="background2">
          <ion-icon color="light" name="navigate" style="zoom:2.0;"></ion-icon>
          <p style="color: #fff;">Descargar Red Vial Depart.</p>
        </ion-col>
        <ion-col (click)='loadRedVialVecinal()' size="6" text-center class="background3">
          <ion-icon color="light" name="navigate" style="zoom:2.0;"></ion-icon>
          <p style="color: #fff;">Descargar Red Vial Vecinal</p>
        </ion-col>
        <ion-col style="height: auto; padding-top: 4%;" text-left size="12">
          Centros Poblados
        </ion-col>
        <ion-col (click)='loadCentrosPoblados()' size="6" text-center class="background">
          <ion-icon color="light" name="navigate" style="zoom:2.0;"></ion-icon>
          <p style="color: #fff;">Descargar Centros Poblados</p>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
