.inputs{
    width: 80%;
    margin: auto;
    border-color: rgba(0, 0, 0, 0);
	  background-color: rgba(0, 0, 0, 0);

}

ion-textarea{
  font-size: 14px;
  --color: var(--ion-color-step-550,#737373);
}


.padre {
  background: #EBEDEF;
  height: 100%;
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.hijo {
  background: #EBEDEF;
  width: 120px;
  a {
    font-size: 14px;
    --color: var(--ion-color-step-550,#737373);
  }

}
