<ion-header>
  <ion-toolbar class="ion-text-center" color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title >Capturar</ion-title>
    <ion-button [hidden]='hideMe' slot="end" color="secondary" (click)="sendData()">
         <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>
<ion-content >


    <!--<ion-grid [hidden]='hideMe2' style="height: 100%">
      <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%; flex-direction: column">
        <img style="opacity: 0.5; filter: alpha(opacity=50);" [src]="photo2">
      </ion-row>
    </ion-grid>-->
    <div class="padre" [hidden]="hideMe2">
      <div class="hijo"><ion-icon ios="ios-alert" md="md-alert"></ion-icon>
      <a >Tome una foto e ingrese un titulo, descripción y obten su coordenada...</a></div>
    </div>


    <div [hidden]='hideMe' class="">

      <ion-card>
        <img [src]="imagepreview">
      </ion-card>


      <ion-card>
        <ion-item >
          <ion-icon name="ios-document" slot="start"></ion-icon>
          <ion-label position="floating">
            Título
          </ion-label>
          <ion-input type="text" [(ngModel)]="fototemp.ctitulo" name="ctitle"></ion-input>
        </ion-item>
        <ion-card-content>

            <ion-icon name="text"></ion-icon>
            <ion-label position="floating">
            Descripción
            </ion-label>
            <ion-textarea type="text" [(ngModel)]="fototemp.cobservacion" name="cobservacion"></ion-textarea>

        </ion-card-content>

      </ion-card>
      <!--<ion-input [(ngModel)]="newItem.photo"></ion-input>-->


    </div>
    <div *ngIf="habilitar">
      <ion-card>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Coordenadas:</ion-label>
        </ion-item>
        <ion-card-content >
          <ion-grid>
            <ion-row class="ion-text-center">
              <ion-col size="6">
                <ion-label>Coordenadas X:</ion-label>
                <ion-label type="text" disabled>
                  {{ show_longitud }}
                </ion-label>
              </ion-col>
              <ion-col  size="6">
                <ion-label>Coordenadas Y:</ion-label>
                <ion-label type="text" disabled>
                  {{ show_latitud }}
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" disabled="mostrar">
      <ion-fab-button  color="secondary" (click)="selectImage()" >
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab [hidden]='hideMe' vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button color="secondary" (click)="checkGPSPermission()">
        <ion-icon name="pin"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
