

  <ion-toolbar class="ion-text-center" color="secondary">
    <ion-title >Comentarios</ion-title>
    <ion-button slot="end" color="secondary" (click)="goToPreviousPage(observaciones)">
        <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
    </ion-button>
  </ion-toolbar>

<ion-content>

      <div>
        <ion-card *ngFor="let observacion of observaciones">
          <ion-item>
            <ion-icon name="ios-eye" slot="start"></ion-icon>
            <ion-label>Titulo:</ion-label>
            <ion-input [(ngModel)]="observacion.ctitulo"></ion-input>
          </ion-item>
          <ion-card-content >
            <ion-item>
              <ion-textarea placeholder="Descripión:" [(ngModel)]="observacion.cobservacion"></ion-textarea>
            </ion-item>


          </ion-card-content>
        </ion-card>
      </div>




     <ion-fab vertical="bottom" horizontal="end" edge slot="fixed" bottom right >
      <ion-fab-button color="secondary" [disabled]= "habilitado" (click)="add_observaciones()" >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
     </ion-fab>


</ion-content>
