<ion-toolbar class="ion-text-center" color="secondary">
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>
  </ion-buttons>
  <ion-buttons [hidden]='hidden1' slot="secondary">
      <ion-button (click)="openLeyenda()">
        <ion-icon slot="icon-only" name="book"></ion-icon>
      </ion-button>
  </ion-buttons>
  <ion-title >Sierra Azul</ion-title>
</ion-toolbar>
<ion-content [attr.noScroll]="">
  <div id="map" style="width:100%; height:100%;">
    <ion-grid style="height: 100%">
      <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%;">
        <img src="{{myimage}}">
        <br>
      </ion-row>
    </ion-grid>
    <ion-fab padding-bottom vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="secondary" (click)="getGeolocation()">
        <ion-icon name="locate"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
