.ion-img{
    width: 60%;
}
.grid{
    padding-bottom: 5%;
}
.pform{
    font-style:serif;
    position: center;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

ion-col.col{
    border: 1px solid black;
    margin: auto;
}
.background{
    background-color:#0abde3;
    background-size: cover;
    border: 1px solid #fff;
    height: 30%;
    width: 70%;
    padding: auto;
    border-radius: 10px;
}

.background2{
    background-color:#1dd1a1;
    background-size: cover;
    border: 1px solid #fff;
    height: 30%;
    width: 70%;
    padding: auto;
    border-radius: 10px;
}

ion-content.fondo{
    --background: rgb(2,0,36);
    --background: #c8d6e5;
    margin:auto;
    ion-grid {
      position: relative;
      text-align: center;
      align-items: center;
    }
  
    .card-title {
      position: absolute;
      top: 20%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
    
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 60%;
      width: 100%;
      color: #fff;
    } 
  }
  