<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="cloud-download"></ion-icon>
      Respaldar Información
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center class="vertical-align-content fondo">
    <br> <br> <br> <br> <br> <br>
    <ion-grid (click)='exportDB()' text-center class="background">
        <div class="card-title"><ion-icon name="save" style="zoom:2.0;"></ion-icon></div>  
        <div class="card-subtitle">Copia de Seguridad</div>
    </ion-grid>
    <br>
    <ion-grid (click)='importDB()' text-center class="background2">
        <div class="card-title"><ion-icon name="folder-open" style="zoom:2.0;"></ion-icon></div>  
        <div class="card-subtitle">Importar DB externa</div>
    </ion-grid>
</ion-content>
