<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="image"></ion-icon>
      Detalles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngIf="fotos | async as fotos">
      <ng-container *ngIf="fotos.length">
        <ion-item *ngFor="let foto of fotos; let i = index">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                Foto # {{i+1}}
              </ion-col>
              <ion-col size="12">
                <img src="{{ foto.img }}" alt="">
              </ion-col>
              <ion-col size="12">
                Título:
              </ion-col>
              <ion-col size="12">
                {{ foto.ctitulo }}
              </ion-col>
              <ion-col size="12">
                Observación:
              </ion-col>
              <ion-col size="12">
                {{ foto.cobservacion }}
              </ion-col>
              <ion-col size="12">
                Coordenadas:
              </ion-col>
              <ion-col size="12">
                {{ foto.latitud }}, {{ foto.longitud }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="fotosNuevas | async as fotosNuevas">
      <ng-container *ngIf="fotosNuevas.length">
        <ion-item *ngFor="let fotoN of fotosNuevas; let i = index">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                Foto # {{i+1}}
              </ion-col>
              <ion-col size="12">
                <img src="{{ fotoN.img }}" alt="">
              </ion-col>
              <ion-col size="12">
                Título:
              </ion-col>
              <ion-col size="12">
                {{ fotoN.ctitulo }}
              </ion-col>
              <ion-col size="12">
                Observación:
              </ion-col>
              <ion-col size="12">
                {{ fotoN.cobservacion }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>
</ion-content>
