<ion-content>
  <div class="container">
    <div class="items">
      <div class="items-head">
        <p>Seleccione un mapa:</p>
        <hr />
      </div>
      <ion-row justify-content-center align-items-center>
        <img src="{{myimage}}" style="width: 70%" /><br />
        <ion-button color="danger" (click)="cancelFileLoad()" [hidden]="hidden"
          >Cancelar</ion-button
        >
      </ion-row>
      <span class="items-body">Alta Resolución</span>
      <ng-container *ngFor="let box of boxes">
        <ion-row *ngIf="box.ccalidad==='Alta'">
          <ion-col size="1"></ion-col>
          <ion-col size="8">
            {{box.cnombre}}
          </ion-col>
          <ion-col size="1">
            <ion-icon
            style="zoom: 1.5;"
            (click)='addEvent(); saveCenter(box.x, box.y, box.x2, box.y2, box.box); fileLoadLow(box.cnombre + "(" + box.x + "," + box.y + ")" , box.box);'
            name="download"
            color="secondary"
          ></ion-icon>
          </ion-col>
          <ion-col size="1">
            <ion-icon
              style="zoom: 1.5;"
              (click)="deleteBox(box.idbox)"
              color="danger"
              name="trash"
            ></ion-icon>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>        
      </ng-container>
      <span class="items-body">Baja Resolución</span>
      <ng-container *ngFor="let box of boxes">
        <ion-row *ngIf="box.ccalidad==='Baja'">
          <ion-col size="1"></ion-col>
          <ion-col size="8">
            {{box.cnombre}}
          </ion-col>
          <ion-col size="1">
            <ion-icon
            style="zoom: 1.5;"
            (click)='addEvent(); saveCenter(box.x, box.y, box.x2, box.y2, box.box); fileLoadLow(box.cnombre + "(" + box.x + "," + box.y + ")" , box.box);'
            name="download"
            color="secondary"
          ></ion-icon>
          </ion-col>
          <ion-col size="1">
            <ion-icon
              style="zoom: 1.5;"
              (click)="deleteBox(box.idbox)"
              color="danger"
              name="trash"
            ></ion-icon>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>        
      </ng-container>
    </div>
  </div>

  <!-- <ion-row justify-content-center align-items-center>
    <img src="{{myimage}}" style="width: 70%">
    <ion-button color='danger' (click)='cancelFileLoad()' [hidden]='hidden'>Cancelar</ion-button>
  </ion-row>
  <ion-row>
    <ion-col *ngFor="let box of boxes" size="12">
      <ion-card>
        <div class="card-title ion-text-center">{{box.cnombre}}
        <ion-button (click)='addEvent(); saveCenter(box.x, box.y, box.x2, box.y2, box.box); fileLoad(box.box);' disabled="{{disabled}}" color='secondary' shape="round" lines="white" fill="clear">
          <ion-icon name="download"></ion-icon>
        </ion-button>
        </div>
      </ion-card>
    </ion-col>
  </ion-row> -->
</ion-content>
