$pri: #0abde3;
$sec: #fffffe;
$dark-pri: #0abde3;

* {
  box-sizing: border-radius;
  font-family: 'Rubik', sans-serif;
}

.container {
  display: grid;
  place-items: center;
  background-color: $pri;
}

.items {
  width: 100%;
  background: $sec;
  border-top: 10px solid $dark-pri;
}

.items-head p {
  padding: 5px 20px;
  margin: 10px;
  color: #0abde3;
  font-weight: bold;
  font-size: 20px;
}

.items-head hr {
  width: 20%;
  margin: 0px 30px;
  border: 1px solid $dark-pri;
}

.items-body {
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-gap: 10px;
}

.items-body-content {
  padding: 10px;
  padding-right: 0px;
  display: grid;
  grid-template-columns: 10fr 1fr 1fr;
  // background-color: lightblue;
  font-size: 13px;
  grid-gap: 10px;
  border: 1px solid transparent;
  cursor: pointer;

}

.items-body-content:hover {
  border-radius: 15px;
  border: 1px solid $dark-pri;
}

.items-body-content i {
  align-self: center;
  font-size: 15px;
  color: $dark-pri;
  font-weight: bold;
  animation: icon 1.5s infinite forwards;
}

@keyframes ion-icon {

  0%,
  100% {
    transform: translate(0px);
  }

  50% {
    transform: translate(3px);
  }
}