<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="list-box"></ion-icon>
      Puntos Registrados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list no-padding>
    <ng-container *ngIf="salidas | async as salidas">
      <ng-container *ngIf="salidas.length">
        <ion-list-header (click)="scrollTo($event)">
          <ion-label>Acciones e Inversiones</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let salida of salidas">
          <ion-grid>
            <ion-row>
              <ion-col size="5">
                Código
              </ion-col>
              <ion-col size="1">
                :
              </ion-col>
              <ion-col size="6">
                {{ salida.codigo }}
              </ion-col>
              <ion-col size="5">
                Usuario
              </ion-col>
              <ion-col size="1">
                :
              </ion-col>
              <ion-col size="6">
                {{ salida.idusuario }}
              </ion-col>
              <ion-col size="5">
                Tipo
              </ion-col>
              <ion-col size="1">
                :
              </ion-col>
              <ion-col size="6">
                {{ salida.tipo }}
              </ion-col>
              <ion-col size="5">
                Fecha
              </ion-col>
              <ion-col size="1">
                :
              </ion-col>
              <ion-col size="6">
                {{ salida.fecha_registro }}
              </ion-col>
              <ion-col>
                <ion-button (click)="openDetailsTbl(salida.id_tabla)">
                  Más Información
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="nuevas | async as nuevas">
      <ng-container *ngIf="nuevas.length">
        <ion-list-header (click)="scrollTo($event)">
          <ion-label>Nuevos Puntos: </ion-label>
        </ion-list-header>
        <ion-item *ngFor="let nueva of nuevas">
          <ion-grid>
            <ion-row>
              <ion-col size="5">
                Infraestructura
              </ion-col>
              <ion-col size="1">
                :
              </ion-col>
              <ion-col size="6">
                {{ nueva.infraestructura }}
              </ion-col>
              <ion-col size="5">
                Subtipo
              </ion-col>
              <ion-col size="1">
                :
              </ion-col>
              <ion-col size="6">
                {{ nueva.subtipo }}
              </ion-col>
              <ion-col size="5">
                Coordenadas
              </ion-col>
              <ion-col size="1">
                :
              </ion-col>
              <ion-col size="6">
                {{ nueva.latitud }} , {{ nueva.longitud }}
              </ion-col>
              <ion-col size="5">
                Fecha
              </ion-col>
              <ion-col size="1">
                :
              </ion-col>
              <ion-col size="6">
                {{ nueva.fecha_registro }}
              </ion-col>
              <ion-col>
                <ion-button (click)="openDetailsTblNuevo(nueva.id_tblnuevo)">
                  Mas Información
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>
</ion-content>
