<ion-header>
    <ion-toolbar class="ion-text-center" color="secondary">
      <ion-title>Leyenda</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content  padding> 
  <div style="width:100%; height:100%;">
    <img src="assets/img/leyenda.jpg" alt="leyenda">
  </div>
</ion-content>
