.text-departamento{
  color: #2668DB;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-bottom: 20px;
}
.text-provincia{
  color: #26C0DB;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-bottom: 20px;
}
.text-distrito{
  color: #26DBAC;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-bottom: 20px;
}
