<ion-toolbar class="ion-text-center" color="secondary">
  <ion-buttons slot="start">
    <ion-button (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title >Primera Salida</ion-title>
</ion-toolbar>

<ion-content>


<div>
  <ion-card>

    <ion-card-content >
      <ion-searchbar ></ion-searchbar>
      <ion-item>
        <ion-icon name="checkmark" slot="start"></ion-icon> <ion-text class="text-departamento">LORETO</ion-text>
      </ion-item>

      <ion-searchbar ></ion-searchbar>
      <ion-item>
      <ion-icon name="checkmark" slot="start"></ion-icon>  <ion-text class="text-provincia">CHACHAPOYAS</ion-text>
      </ion-item>

      <ion-searchbar ></ion-searchbar>
      <ion-item>
      <ion-icon name="checkmark" slot="start"></ion-icon>  <ion-text class="text-distrito">MOLINOPAMPA</ion-text>
      </ion-item>


    </ion-card-content>

  </ion-card>
  <ion-card>

    <ion-card-content >
      <div >
        <ion-list>
          <ion-item >

    							<p>	JUNIN</p>


    			</ion-item >
          <ion-item  >

    							<p>	LIMA</p>


    			</ion-item >
          <ion-item >

    							<p>	AYACUCHO</p>


    			</ion-item >
          <ion-item  >

    							<p>	CUZCO</p>


    			</ion-item >
        </ion-list>

  		</div>
    </ion-card-content>

  </ion-card>

</div>






</ion-content>
